* {
    margin: 0;
    padding: 0;
}

body{
    background: #e6e6e6;
}
 
header, .main, footer{
    width: 90%;
    margin: 20px auto;
    max-width: 1000px;
}

header nav {
    background-color: #528FD5;
    overflow: hidden;
         
 }
 
 header nav ul {
  list-style:none ;
 }

 header nav ul li {
     float: left;
 }

 header nav ul li a{ 
     padding: 10px 20px;
     display: block;
     text-decoration: none;

 }

 header nav ul li a:hover{
     background-color: black;
     color: white;
 } 

 .main .articles {
     width: 70%;
     float: left;
     
 }
 
 .main .articles article {
     padding: 20px;
     background-color: white;
     margin-bottom: 20px;

 }
 
 aside {
     width:28.5%;
     background-color: darkorchid;
     float: left;
     padding: 20px;
     box-sizing: border-box;
     margin-left: 1.5%;
 }

footer {
    background-color: black;
    color: white;
    clear: both;
    padding: 10px 0px;
    text-align: center;
}
 
 ul {
     border: 1px solid black;
     display:flex;
     flex-direction: row;
     justify-content: space-around;
     align-self: center;
     width: fit-content

 }
 
 
 nav { 
    justify-content: center;
     display: flex;
     width: fit-content;
     align-self: center;
    }

header {flex-direction: column;
    display: flex;}


section {
    font-family: 'Turret Road', cursive;
}

section aside {
    font-family: 'Staatliches', cursive;;
}

.icono1 {

    display: flex;
    align-self: center;
    align-content: center;
    max-width: 800px;
    align-content: center;

}

.boton-1{
    width: 500px;
    height: 500px;
    margin: auto;
    align-self: center;
    align-content: center;
    padding: 50px ;
    font-size: 200px;
    font-family: 'Noto Sans KR', sans-serif; 
    color: white;
    border-radius: 50%;
    background-color: rgb(107, 44, 44);
    border:none;
    cursor: pointer;
}

.boton-1:hover{
    box-shadow: 5px 5px 50px rgb(27, 2, 2);
    color:black;

}

.cancha, .centro, .arco1, .arco2{
    display: flex;
    border: 4px solid white;
}

.cancha{ 
    position: relative;
    justify-content: space-between;
    width: 800px;
    height: 400px;
    align-items: center;
    margin: 10px;

}

.centro{
    height: 200px;
    width: 200px;
    border-radius: 50%;

}

.arco1, .arco2 {
    margin: -4px;
    height: 200px;
    width: 100px;
}

.esferauno, .esferados, .esferatres {  
    height: 20px;
    width: 20px;
    border: white;
    border-radius: 50%;
    background-color: white;
    position: absolute;
}

.esferauno {
    top: 100px;
    left:100px;
}
.esferados {
    left: 405px;
    top: 40px;
}
.esferatres {
    right: 105px;
    bottom: 105px;
}

.contenedor2 {
    display: flex;
    width: fit-content;
    background-color: green}

.cuadrado-uno, .cuadrado-dos {
    display: flex;
    width: 400px;
    height: 400px;
    border: 1px solid black;
    justify-content: center;
    margin: none;
}


.cuadrado-tres, .cuadrado-cuatro{
    display: flex;
    width: 200px;
    height: 200px;
    justify-self: center;
    align-self: center;
    border: 1px black solid;
    margin: none;
}

.cuadrado-uno {
    background-color:red;
}

.cuadrado-dos {
    position:relative;
    background-color: green;}

.cuadrado-tres {
    background-color: purple;
}

.cuadrado-cuatro {background-color: black;

}

.cuadrado-cinco, .cuadrado-seis {
    display: flex;
    width: 100px;
    height: 100px;
    margin: 0px;
    background-color: yellow;
}

.cuadrado-seis {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: -1px ;
}

.cuadrado-uno, .cuadrado-dos, .cuadrado-tres, .cuadrado-cuatro, .cuadrado-cinco, .cuadrado-seis {
    display: flex;
}

.boxes_2 {
    position: relative;

width: 1000px;
height: 1000px;
border: 1px solid black;
}



#box_1, #box_2, #box_3 {
    
    height: 200px;
    width: 200px;
    border: 1px solid black;

}

#box_1, #box_4 {
    background-color: blue;
}


#box_2, #box_5  {
    background-color: red;
}

#box_2 {
    position:relative;
    left: 200px;}

#box_3, #box_6  {
    background-color: yellow
}

#box_7 {
    background-color:white
}

#box_4, #box_5, #box_6, #box_7 {
    width: 100px;
    height: 100px;
    position: absolute;
    border: 1px solid black;
    margin: -1px;
}

#box_4 {
    top:0;
    left: 0;

    
}

#box_5 {
    top:0;
    right: 0;
}

#box_6 {
    bottom: 0;
    left: 0;
}

#box_7 { 
    bottom: 0;
    right: 0;

}

#box_8 {
    background-color: purple;
    border: 8px solid blue;
    position: absolute;

    top: 20px;
    bottom: 20px;
    left: 20px;
    right:20px;

}

#box_9 {
    background-color: grey;
    border: 8px solid green;
    position: absolute;

    top: 40px;
    bottom: 40px;
    left: 40px;
    right:40px;

}

table { 
    display:inline-block;
    flex-direction: column;
    max-width: 1000px;
    max-height: 1000px;
    border-collapse: collapse;
    text-align:justify;
    margin: 0px;
}

tr {
    border: 1px solid black
}

th { background-color: yellow;
    text-align: center;
    border: 1px solid black;    
}
td { 
    max-width: 333px;
    vertical-align: top;
    border: 1px solid black;
}

h2 {
    text-align: center  ;

}

.rei { 
    box-sizing: border-box;
    padding: 5px;
    width: inherit;
    border: 1px solid black;
    
    
    
}

.fotorei {object-fit: contain;
    width: 100%;
    height: 100%;}

.pie  {
    background: blue; 
}

.menu {
    display: flex;
    width: 100%;
    height: 400px;
    border: 1px solid black;
}

.menu_1 {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: inherit;
    border: 1px solid grey;
    text-align: center;
    transition: .3s ease all;
    align-items: flex-start;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
}

.boton-2 {
padding: 10px;
 border-radius: 10%;
 height: 100px;
 width: 100px;
 color:blue;
 font-size: 60px;
 border: none;
 background-color: inherit;
 border-radius: 50%;
  transition: .3s ease all;
 align-items: center;
 margin: 20px auto;
}

.boton-2:hover {
    box-shadow: 5px 5px 5px 5px grey;
    color: black;
    background-color: white;


}

.menu_1:hover { 
    border: none;
    color: white;
    background-color: black;
    transform: scale(1.3);

}

.menu_1 h2 {align-self: center;}

.pinterest {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 950px; 
    padding: 20px;
    align-content: space-between;
    border: 1px black solid;
}

.catalogo { 
    display: flex;
    position: relative;
    width: 33%;
    align-content: center;
    box-sizing: border-box;
    justify-content: center;
   
}

.catalogo img { 
    object-fit: cover;
    width: 450px;
    height: 450px;
    align-content: space-around;
   
}


.perfil {

    font-weight: bold;
    color: red;
    position: absolute;
    right: 100px;
    bottom: 40px
}

